<div class="row">
  <div class="col-md-12">
    <label for="customRange2" class="form-label">Length : {{ len }}</label>
    <input
      type="range"
      class="form-range"
      min="6"
      max="30"
      id="customRange2"
      [(ngModel)]="len"
    />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div
      class="btn-group-vertical"
      role="group"
      aria-label="Basic checkbox toggle button group"
    >
      <!-- Lowercase -->
      <input
        type="checkbox"
        class="btn-check"
        id="btncheck1"
        autocomplete="off"
        checked
        disabled
      />
      <label class="btn btn-outline-primary" for="btncheck1"
        >Include Lowercase Characters (a-z)</label
      >

      <!-- Uppercase -->
      <input
        type="checkbox"
        class="btn-check"
        id="btncheck2"
        autocomplete="off"
        [(ngModel)]="useUppercase"
      />
      <label class="btn btn-outline-primary" for="btncheck2"
        >Include Uppercase Characters (A-Z)</label
      >

      <!-- Numbers -->
      <input
        type="checkbox"
        class="btn-check"
        id="btncheck3"
        autocomplete="off"
        [(ngModel)]="useNumbers"
      />
      <label class="btn btn-outline-primary" for="btncheck3"
        >Include Numbers(1-9)</label
      >
      <!-- Symbols -->
      <input
        type="checkbox"
        class="btn-check"
        id="btncheck4"
        autocomplete="off"
        [(ngModel)]="useSymbols"
      />
      <label class="btn btn-outline-primary" for="btncheck4"
        >Include Symbols(@#$%._)</label
      >
    </div>
  </div>
</div>
<div class="row generate">
  <div class="col-md-12 text-center">
    <button class="btn btn-success" (click)="emit()">Generate</button>
  </div>
</div>
